<%= render 'shared/navbar' %>
<div class="container">
  <div class="d-flex flex-column w-100 job profile1 posts">
    <div class="d-flex flex-row stretch">
      <p class="job-title"><%= @job_requirement.job_title %></p>
      <% if current_page?(controller.my_jobs_path) %>
        <% if @job_requirement.status == "pending"%>
          <span class="skill-chip-status pending">
            <%= @job_requirement.status.capitalize %>
          </span>
        <% elsif @job_requirement.status == "approved"%>
          <span class="skill-chip-status success">
            <%= job_requirement.status.capitalize %>
          </span>
        <% else %>
          <span class="skill-chip-status rejected">
            <%= @job_requirement.status.capitalize %>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex flex-direction-row">
      <% email = User.find(@job_requirement.user_id).email%>
      <span class="job-info">Role: <%= @job_requirement.job_role.name %></span>
      <span class="job-info">Sector: <%= @job_requirement.job_sector.name %></span>
      <span class="job-info">Vacancies: <%= @job_requirement.vacancies %></span>
    </div>
    <p class="title mb-1 mt-3">Description</p>
    <p class=""><%= @job_requirement.job_description %></p>
    <p class="title mb-1">Skills Required</p>
    <div class="d-flex flex-row gap-2">
      <% @job_requirement.skills_required.split(',').each do |skill| %>
        <span class="skill-chip">
          <%= skill.strip %>
        </span>
      <% end %>
    </div>
    <%if current_user&.admin?%>
      <div class="d-flex flex-row gap-3 mt-3 w-100">
        <%= link_to 'Approve', approve_job_requirement_path(@job_requirement), method: :patch , class: "btn secondary-btn btn-success w-100"%>
        <%= link_to 'Reject', reject_job_requirement_path(@job_requirement), method: :patch, class: "btn secondary-btn btn-danger w-100" %>
      </div>
    <%end%>
  </div>
  <% if current_page?(controller.my_jobs_path)==false &&  current_user&.admin? == false%>
    <div class="d-flex flex-column w-100 job profile1 posts mt-2">
      <%= form_tag apply_job_requirements_path(@job_requirement), method: :post, multipart: true, class:"w-100" do %>
        <div class="mb-1">
          <%= label_tag :cv, 'Upload CV and Apply Now', class: 'form-label title mb-3 mt-3' %>
          <%= file_field_tag :cv, accept: 'application/pdf', class: 'form-control' %>
        </div>
        <%= submit_tag 'Apply', class: "btn secondary-btn btn-primary w-100 mt-3" %>
      <% end %>
    </div>
  <%end%>
  <div class= "profile1 posts mt-2 gap-4">
    <span class="title-header">Comments</span>
    <%= render partial: 'job_comments/job_comments_list', locals: {job_comment: @job_requirement.job_comments} %>
    <% if current_user&.admin? == false %>
      <div class="container mt-4 pl-0 pr-0" id="comment_form">
        <%= form_with(model: [@job_requirement, JobComment.new]) do |form| %>
          <%= form.text_area :content, class: 'form-control pt-4 text_area', placeholder: 'Enter your Comment' %>
          <%= form.submit 'Add Comment', class: "btn  full-btn btn-primary w-100 mt-3" %>
        <% end %>
      </div>
    <%end%>
  </div>
</div>
