<div class="dropdown">
  <div class=" d-flex" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="overflow-hidden avatar d-flex justify-content-center align-items-center">
      <% if current_user.profile_photo.attached? %>
        <%= image_tag current_user.profile_photo, class: 'rounded-circle avatar-image' %>
          <% else %>
            <div class="default-profile-picture">
              <i class="fas fa-user fa-lg"></i>
            </div>
            <% end %>
    </div>



  </div>
  <ul class="dropdown-menu dropdown-menu-end ">
    <li class="dropdown-header">
      <span>
        <%=current_user.username%>
      </span>
      <%=current_user.email%>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li class="dropdown-item">
      <%= link_to "Profile" , profile_path %>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li class="dropdown-item">
      <%= link_to "Logout" , logout_path, method: :delete %>
    </li>
  </ul>
</div>