<div class="contain mt-5">
  <div class="card p-4 card_css">
    <h1 class="mb-3 mx-auto">Edit profile details</h1>
    <%= form_for @user, url: user_path(@user), method: :patch, multipart: true do |f| %>
      <div class="mb-3">
        <div class="d-flex flex-row align-items-center gap-1">
          <%= f.label :username, 'Name' , class: 'form-label' %>
          <span class="star">*</span>
        </div>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :profile_photo, 'Upload Profile Image' , class: 'form-label' %>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <%= f.file_field :profile_photo, accept: 'image/jpeg,image/png' , class: 'form-control', id: 'profile_photo_field' %>
          <%= link_to '#', id: 'remove_profile_photo', class: "d-flex flex-column align-items-center ms-2" do %>
            <span class="material-symbols-outlined text-dark">
              close
            </span>
          <%end%>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :cv, 'Upload CV' , class: 'form-label' %>
        <div class="d-flex flex-row align-items-center justify-content-center">
          <%= f.file_field :cv, accept: 'application/pdf' , class: 'form-control' , id: 'cv_field'%>
          <%= link_to '#', id: 'remove_cv', class: "d-flex flex-column align-items-center ms-2" do %>
            <span class="material-symbols-outlined text-dark">
              close
            </span>
          <%end%>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :cv_download_permission, 'Who can download your CV ?' , class: 'form-label d-block' %>
        <div class="d-flex gap-4">
          <div class="form-check w-100 ">
            <%= f.radio_button :cv_download_permission, 'everyone' , class: 'form-check-input' %>
            <%= f.label :cv_download_permission_everyone, 'Everyone' , class: 'form-check-label' %>
          </div>
          <div class="form-check w-100">
            <%= f.radio_button :cv_download_permission, 'connections' , class: 'form-check-input' %>
            <%= f.label :cv_download_permission_connections, 'Connections' , class: 'form-check-label' %>
          </div>
          <div class="form-check w-100">
            <%= f.radio_button :cv_download_permission, 'onlyme' , class: 'form-check-input' %>
            <%= f.label :cv_download_permission_onlyme, 'Only Me' , class: 'form-check-label' %>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :linkedin_profile, 'LinkedIn Profile' , class: 'form-label' %>
        <%= f.text_field :linkedin_profile, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :qualification, 'Qualification' , class: 'form-label' %>
        <%= f.select :qualification,['B.Tech','B.A', 'B.Sc' ,'B.Com' ], { include_blank: 'Select Qualification' }, class: 'form-select' %>
      </div>
      <div class="mb-3">
        <%= f.label :experience, 'Experience', class: 'form-label d-block' %>
        <div class="d-flex gap-4">
          <div class="form-check w-100">
            <%= f.radio_button :experience, 'experienced', class: 'form-check-input', data: { target: '#yearsRangeField' },
        checked: f.object.experience != 'fresher' %>
            <%= f.label :experience_experienced, 'Experienced', class: 'form-check-label' %>
          </div>
          <div class="form-check w-100">
            <%= f.radio_button :experience, 'fresher', class: 'form-check-input', data: { target: '#yearsRangeField' },
        checked: f.object.experience == 'fresher' %>
            <%= f.label :experience_fresher, 'Fresher', class: 'form-check-label' %>
          </div>
        </div>
      </div>
      <div class="mb-3" id="yearsRangeField">
        <%= f.label :experience, 'Years Range', class: 'form-label' %>
        <%= f.select :experience, ['0-1 Years', '1-5 Years', '5-10 Years', 'More than 10 Years'], {}, {
    class: 'form-select', disabled: @disabled_value } %>
      </div>
      <div class="mb-3" id="organization">
        <%= f.label :current_organization, 'Current Organization' , class: 'form-label' %>
        <%= f.text_field :current_organization, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :skills, 'Skills' , class: 'form-label' %>
        <%= f.text_field :skills, class: 'form-control' %>
      </div>
      <!-- Certificates -->
      <div class="mb-3">
        <%= f.check_box :relevant_skill_notification, class: 'form-check-input' %>
        <%= f.label :relevant_skill_notification, 'Click here to receive relevant notification for job posting' , class: 'form-check-label' %>
      </div>
      <div id="certificates-fields">
      </div>
      <button type="button" id="add-certificate" class="btn full-btn btn-secondary w-100 mb-3">Add Certificate</button>
      <div class="line mb-3"></div>
      <div id="job_profiles-fields">
      </div>
      <div class="mb-3">
        <input type="checkbox" id="enable-job-profiles" class="form-check-input">
        <label class="form-check-label" for="enable-job-profiles">Add New Job Profiles</label>
      </div>
      <button type="button" id="add-job-profile" class="btn full-btn btn-secondary w-100 mb-3">Add Job Profile</button>
      <%= f.submit 'Save Details' , class: 'btn full-btn btn-primary btn-lg w-100 mb-3' %>
    <% end %>
    <% if @errors %>
      <div class="alert alert-danger">
        <ul>
          <% @errors.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
