<nav class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <%= link_to home_path do %>
      <i class="fas fa-arrow-left fa-2x back-icon me-4"></i>
      <% end %>
        <h2>Connections</h2>
  </div>

  <%= render 'profilemenu-dropdown' %>

</nav>

<div class="container">
  <div class="row gap-2 flex-column flex-md-row">
    <div class="col-12 col-md-4 profile1 ">
      <div class="d-flex flex-column align-items-center gap-4">
        <div class="profile-picture-container">
          <% if @user.profile_photo.attached? %>
            <%= image_tag @user.profile_photo, class: 'profile-picture' %>
              <% else %>
                <div class="default-profile-picture-lg profile-picture">
                  <i class="fas fa-user fa-5x"></i>
                </div>
                <% end %>
        </div>
        <div class="profile-actions w-100">
          <a href="<%= @user.linkedin_profile %>" class="btn btn-primary w-100">LinkedIn Profile</a>
        </div>

        <div class="profile-2 w-100">
          <a href="<%= @user.linkedin_profile %>" class="btn btn-primary w-100 edit">Request Connection</a>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 profile-3">
      <div class="profile-details">
        <p><strong class="title">Name</strong>
          <%= @user.username %>
        </p>
        <p><strong class="title">Email</strong>
          <%= @user.email %>
        </p>
        <p><strong class="title">Qualification</strong>
          <%= @user.qualification %>
        </p>
        <p><strong class="title">Experience</strong>
          <%= @user.experience %>
        </p>
        <p><strong class="title">Current Organization</strong>
          <% if @user.current_organization=="" %>
            <%= "Not working right now" %>
              <%else%>
                <%= @user.current_organization %>
                  <%end%>
        </p>
        <p><strong class="title">Skills</strong>
          <%= @user.skills %>
        </p>


      </div>



    </div>
  </div>
</div>