<%= render 'shared/navbar'%>
<div class="container">
  <div class="row gap-2 flex-column flex-md-row">
    <div class="col-12 col-md-4 profile1 ">
      <div class="d-flex flex-column align-items-center gap-3 p-3">
        <% if current_user.profile_photo.attached? %>
          <%= image_tag current_user.compressed_profile_photo_big, class: 'profile-picture' %>
        <% else %>
          <div class="default-profile-picture-lg profile-picture">
            <i class="fas fa-user fa-5x"></i>
          </div>
        <% end %>
        <%if current_user&.admin? == false%>
          <div class="profile-actions w-100">
            <% if current_user.linkedin_profile=="" %>
              <button type="button" class="btn full-btn btn-secondary w-100" disabled>LinkedIn Profile</button>
            <% else %>
              <a href="<%= current_user.linkedin_profile %>" class="btn full-btn btn-primary w-100" target= '_blank' >LinkedIn Profile</a>
            <% end %>
          </div>
        <%end%>
        <div class="profile-2 w-100">
          <%= link_to "Edit Profile" , edit_user_path(current_user), class: "btn  full-btn btn-success w-100" %>
          <%= link_to 'Delete Account' , delete_account_path(current_user), method: :delete, data: { confirm: 'Are you sure you want to delete your account?' }, class: 'btn full-btn btn-danger' %>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="profile-3">
        <div class=" col profile-details">
          <p><strong class="title">Name</strong>
            <%= current_user.username %>
          </p>
          <p><strong class="title">Email</strong>
            <%= current_user.email %>
          </p>
          <%if current_user&.admin? == false%>
            <p><strong class="title">Qualification</strong>
              <%= current_user.qualification %>
            </p>
            <p><strong class="title">Experience</strong>
              <%= current_user.experience %>
            </p>
            <p class="mb-0"><strong class="title">Current Organization</strong>
              <% if current_user.current_organization=="" %>
                <%= "Not working right now" %>
              <%else%>
                <%= current_user.current_organization %>
              <%end%>
            </p>
          <%end%>
        </div>
      </div>
      <%if current_user&.admin? == false%>
        <div class="profile-3 pb-4">
          <div class=" col profile-details">
            <p class="mb-0"><strong class="title">Job Profiles</strong> </p>
            <% if current_user.job_profiles.any? %>
              <% current_user.job_profiles.each do |job_profile| %>
                <div class="profile-4 pt-2">
                  <%= job_profile.title %>
                  <div class="d-flex flex-row gap-3">
                    <%= link_to edit_job_profile_path(job_profile)  do %>
                      <span class="material-symbols-outlined text-dark">
                        edit
                      </span>
                    <% end%>
                    <%= link_to job_profile_path(job_profile), method: :delete, data: { confirm: 'Are you sure you want to delete this job profile?' } do %>
                      <span class="material-symbols-outlined text-dark">
                        delete
                      </span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="pt-2">No job profiles added yet.</p>
            <% end %>
          </div>
        </div>
        <div class="profile-3 pb-4">
          <div class=" col profile-details">
            <p class="title-skill">
              <strong class="title">Skills</strong>
              <div class="skill-chips">
                <% if current_user.skills.present? == false %>
                  <span class="skill-chip">
                    <%= "No skills" %>
                  </span>
                <%else%>
                  <% current_user.skills.split(',').each do |skill| %>
                    <span class="skill-chip">
                      <%= skill.strip %>
                    </span>
                  <% end %>
                <% end %>
              </div>
            </p>
          </div>
        </div>
        <div class="profile-3 pb-4">
          <div class=" col profile-details">
            <p class="mb-0"><strong class="title">Notification Preference</strong>
              <div class="profile-4 pt-1">
                Relevant skill notification
                <% if current_user.relevant_skill_notification==true %>
                  <span class="chip-true"> Enabled</span>
                <% else %>
                  <span class="chip-false"> Disabled</span>
                <% end %>
              </div>
            </p>
          </div>
        </div>
        <% if current_user.cv.attached? %>
          <div class="profile-3 pb-4">
            <div class=" col profile-details">
              <p class="mb-0"><strong class="title">CV</strong> </p>
              <div class="profile-4 pt-1">
                Who can download your CV?
                <% if current_user.cv_download_permission=="everyone" %>
                  <span class="chip-everyone"> Everyone</span>
                <% elsif current_user.cv_download_permission=="connections" %>
                  <span class="chip-connections"> Connections</span>
                <% else %>
                  <span class="chip-noone"> Only Me </span>
                <% end %>
              </div>
              <% if current_user.cv.attached? %>
                <%= link_to 'Download CV' , rails_blob_url(current_user.cv , disposition: "attachment"), class: 'btn full-btn btn-outline-primary mt-4' , method: :get,
                target: '_blank' %>
              <% else %>
                <%= "Please upload your CV" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="profile-3 pb-4">
          <div class=" col profile-details">
            <% if current_user.certificates.any? %>
              <p class="mb-3"><strong class="title">Certificates</strong> </p>
              <div class="certificate-thumbnails d-flex flex-row gap-3">
                <% current_user.certificates.each do |certificate| %>
                  <div class="certificate-thumbnail d-flex flex-column-reverse align-items-center justify-content-end">
                    <p class="certificate-title"><%= certificate.name %></p>
                    <% if certificate.document.attached? %>
                      <% if certificate.document.content_type == 'application/pdf' %>
                        <a href="<%= rails_blob_path(certificate.document, disposition: 'attachment') %>" target="_blank">
                          <canvas class="pdf-thumbnail" data-url="<%= rails_blob_path(certificate.document) %>"></canvas>
                        </a>
                      <% elsif certificate.document.content_type =~ /image\// %>
                        <a href="<%= rails_blob_path(certificate.document, disposition: 'attachment') %>" target="_blank">
                          <%= image_tag certificate.document.variant(resize: '200x200') %>
                        </a>
                      <% else %>
                        <%= link_to "Download", rails_blob_path(certificate.document, disposition: "attachment") %>
                      <% end %>
                    <% end %>
                    <%= link_to certificate_path(certificate), method: :delete, data: { confirm: 'Are you sure you want to delete this certificate?' }, class: "delete_button" do %>
                      <span class="material-symbols-outlined">cancel</span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p class="mb-3"><strong class="title">Certificates</strong> </p>
              <p>No certificates added.</p>
            <% end %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
