<nav class="container-fluid border-hint">
  <div class="d-flex justify-content-between align-items-center container pt-3 pb-3">
    <%= link_to home_path do %>
      <%= image_tag 'Logo.png', class: 'rounded-circle avatar-image', alt: 'Logo' %>
    <% end %>
    <div class="nav-menu">
      <%= link_to "Dashboard", home_path, class: current_page?(home_path) ? "current" : "others" %>
      <%= link_to "Connections", user_connections_path(current_user), class: current_page?(user_connections_path(current_user)) ? "current" : "others" %>
      <%= link_to "Add Network", pending_requests_path, class: current_page?(pending_requests_path) ? "current" : "others" %>
      <%= link_to "Jobs", root_path, class: current_page?(root_path) ? "current" : "others" %>
      <%= link_to "Messages", root_path, class: current_page?(root_path) ? "current" : "others" %>
    </div>
    <%= render 'shared/profilemenu-dropdown' %>
  </div>
</nav>
<div class= "mt-4"> </div>
