<%=  render 'shared/navbar'%>
<div class= "container">
  <div class= "d-flex flex-column gap-1 profile1">
    <div class="connection-request-header">
      <span class="title-header">Connection Request</span>
      <% if @pending_requests.any? %>
        <span class="pending-requests-count">
          <span class="count-text"><%= @pending_requests.count %></span>
        </span>
      <% end %>
    </div>
    <hr class= "line-break">
    <div class= "list-container">
      <% if @pending_requests.any? %>
        <% @pending_requests.each do |request| %>
          <% requested_user = request.requested_by_user %>
          <div class= "list-item">
            <div class="details-container">
              <% if requested_user.profile_photo.attached? %>
                <%= image_tag requested_user.compressed_profile_photo, class: 'rounded-circle avatar-image' %>
              <% else %>
                <div class="default-profile-picture">
                  <i class="fas fa-user fa-lg"></i>
                </div>
              <% end %>
              <div class="secondary-details-container">
                <%= link_to requested_user.username, user_path(requested_user), class:'title-text' , method: :get%>
                <span class="description-text">
                  <%= requested_user.current_organization %>
                </span>
              </div>
            </div>
            <div class="details-container">
              <%= button_to "Approve", approve_friendship_path(request), method: :patch, class: "btn secondary-btn btn-primary btn-success" %>
              <%= button_to "Reject", reject_friendship_path(request), method: :delete, class: "btn secondary-btn btn-primary btn-danger" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="list-container gap-0">
          <div class="icon">
            <i class="material-icons no-connection">sentiment_dissatisfied</i>
          </div>
          <p class="text-no-connection">You did not made any connection till now.</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column gap-1 profile1 mt-4">
    <div class="connection-request-header">
      <span class="title-header">Our Suggestions</span>
    </div>
    <hr class="line-break">
    <div class="list-container">
      <% user_skills = current_user.skills.split(',').map(&:strip) %>
      <% @users.reverse.each do |u| %>
        <% unless @user.friends.include?(u) || u.id == current_user.id  %>
          <% suggested_user_skills = u.skills.split(',').map(&:strip) %>
          <% if (user_skills & suggested_user_skills).any? %>
            <div class="list-item">
              <div class="details-container">
                <% if u.profile_photo.attached? %>
                  <%= image_tag u.compressed_profile_photo, class: 'rounded-circle avatar-image' %>
                <% else %>
                  <div class="default-profile-picture">
                    <i class="fas fa-user fa-lg"></i>
                  </div>
                <% end %>
                <div class="secondary-details-container">
                  <%= link_to u.username, user_profile_path(u), class: 'title-text', method: :get %>
                  <span class="description-text">
                    <%= u.current_organization %>
                  </span>
                </div>
              </div>
              <div class="details-container">
                <%= button_to "Connect", connect_user_path(u), method: :post, class: "btn secondary-btn btn-primary btn-success" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if @users.none? { |u| !(user_skills & u.skills.split(',').map(&:strip)).empty? && !@user.friends.include?(u) && u.id != current_user.id } %>
        <div class="list-container gap-0">
          <div class="icon">
            <i class="material-icons no-connection">sentiment_dissatisfied</i>
          </div>
          <p class="text-no-connection">We don't have any suggestions for you now, Comeback later!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
