  <% @job_sectors.each do |job_sector| %>
  <div class="d-flex flex-column gap-1 profile1 mb-2">
    <div class="connection-request-header list-item me-4">
      <span class="title-text"><%= job_sector.name %></span>
      <div class="d-flex gap-2">
        <%#= link_to 'Add New Role',edit_admin_job_sector_path(job_sector), method: :get,  class: "btn secondary-btn btn-primary" %>
        <%= link_to 'Add New Role',edit_admin_job_sector_path(job_sector), method: :get,  class: "btn secondary-btn btn-success" %>
        <%= link_to 'Delete', admin_job_sector_path(job_sector), method: :delete, data: { confirm: 'Are you sure you want to delete this job sector and its roles?' }, class: "btn secondary-btn btn-danger" %>
      </div>
    </div>
    <hr class="line-break">
    <div class="list-container">
      <% if job_sector.job_roles.any? %>
        <% job_sector.job_roles.each do |job_role| %>
          <div class="list-item">
            <span class="description-text"><%= job_role.name %></span>
            <%= link_to 'Remove', admin_job_role_path(job_role), method: :delete, data: { confirm: 'Are you sure you want to delete this job role?' }, class: "btn secondary-btn btn-outline-danger" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
