<div class="container">
  <div class=" d-flex justify-content-center align-items-center mt-5">
    <div class="card p-4 card_css">
      <h1 class="mb-4 mx-auto" >Add Job Sector and Roles</h1>
      <%= form_with(model: @job_sector, url: admin_job_sectors_path, local: true) do |form| %>
        <div class="mb-3">
          <%= form.label :name, 'Job Sector', class: 'form-label' %>
          <%= form.text_field :name , class: 'form-control' %>
        </div>
        <div id="job_roles">
        </div>
        <%= link_to 'Add New Job Role', 'javascript:void(0);', id: 'add_job_role_link', class: "btn full-btn btn-outline-secondary btn-lg w-100 mb-3"%>
        <div>
          <%= form.submit "Create Job Sector and Roles" , class: 'btn full-btn btn-primary btn-lg w-100' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
